@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
* {
  box-sizing: border-box;
}

body{
    min-width: 900px;
    width: auto !important;
}
div.secta{
    background-color: $bond;
}
div.sectb{
    background-color: $forever;
}

div.sectc{
    background-color: $bond;
}

img{
    width:100%;
    padding-top: 5em;
    margin-bottom: -0.5em;
    z-index: 150;
}
nav.large{
    height: 6em;  
    li{
        margin: 3em 1em;
    }
    h1{
        margin: 0.5em;   
    }
}
nav.small{
    height: 3.5em;

    li{
        margin: 1.5em 1em;
    }
    h1{
        margin: 1em;
    }
}
nav {
    background: $kindgiant;
    z-index: 10000;
    margin-bottom: -6em;
    width:100%;
    position:fixed;
    display: inline;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    
    h1{
        font-size: 1.4em;
        float:left;
        color:$innocence;
        padding-left: 0.5em;
    }
    ul{
        float:right;
    }
    li{
        float:left;
        font-size: 1em;
        display: inline-block;
    }

    a{
        font-size: 1em;
        font-weight:bold;
        text-decoration: none; 
        color:$innocence;

    }

    a:hover{
        color: $innocence-sel;
    }
    
}

footer{
    background-color: $kindgiant;
    height: 5em;
    width:100%;
    display: inline-block;
    text-align:center;
    h1{
        font-size: 1.2em;
        color:$innocence;
        padding:0.5em;
    }
    ul{
        margin: -1.3em;
    }
    li{
        padding: 0;
    }
}

.imagebackground{
    background-image:url(http://placehold.it/2000x600);

    
}

video{
    width: 100%;
}
div.mainbody {
    position: relative; 
    padding: 3em 5em 5em;
    width : 100%;
    margin-top: 0;

    h1{
        font-size: 1.6em;
        color: grey;
        margin-bottom: 18px;
    }

    p{
        margin-bottom: 24px;
    }
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

a.nav-active{
    border-top: 2px solid $innocence-sel;
    padding-top: 5px;
    color: $innocence-sel;
    
}
body {
    margin: 0;
}


.section{
    display: block;
}

.section-small{
    height: 2.5em;
    margin: -1.9em 0 0;
}

nav, a, li{
    transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
}
