/* mixin used with the "closed" modals */
@mixin Img($size){
    width: $size;
    height: $size;
    @include filter(grayscale(60%));
    margin-left: 2em;
    margin-right: 2em; 
    @include border-radius(150px);
}

.modalImg{@include Img(250px);};